body {
    background: rgb(0, 64, 162);
}

.video__presentation {
    width: 25%;
    max-width: 1000px;
}

@media screen and (min-width: 1150px) {
    .video__presentation {
        width: 22%;
        max-width: 700px;
    }

    .spinner {
        width: 60px;
        height: 60px;
    }
}

/* Desenfoque cuando se active */
.wrapper.blur-active {
    filter: blur(5px);
    transition: filter 0.5s ease;
}